DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*

DB_NAME=tienda
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

SOURCE_DB_NAME=tienda
SOURCE_DB_USER=root
SOURCE_DB_PASSWORD=
SOURCE_DB_HOST=localhost
SOURCE_DB_PORT=3306